<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ChopSticks">
        <activity
            android:name=".screen.GameOverScreen"
            android:exported="false" />
        <activity
            android:name=".screen.AboutScreen"
            android:exported="false" />
        <activity
            android:name=".chopStickOne"
            android:exported="false" />
        <activity
            android:name=".screen.PlayScreen"
            android:exported="false" />
        <activity
            android:name=".screen.GameOnScreen"
            android:exported="false" />
        <activity
            android:name=".chopStick"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>